@import '../../../styles/vars.scss';

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 500px;
  .left {
    font-weight: 600;
    font-size: 36px;
  }
  .right {
    font-weight: 300;
    font-size: 36px;
  }
}



