@import 'unit';
@import './vars.scss';
@import './links.scss';
@import '../../public/fonts/font.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}
::selection {
  background: $main; /* change to your desired color */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Clash Display', 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $secondary;
  color: $white;

  .dark {
    background-color: $black;
    color: $grey !important;
    transition: all 0.5s ease-in-out, color 0.5s ease-in-out;
    .c-lerp-block_index {
      color: $black !important;
      &::before {
        background-color: $grey;
      }
    }
    .menu-layer {
      position: relative;
      background: $black;
    }
  }
  .light {
    background-color: $secondary;
    color: $white !important;
    transition: all 0.5s ease-in-out, color 0.5s ease-in-out;
    
    
  }
}

body::before {
  animation: grain 8s steps(10) infinite;
  background-image: url(../../public/images/noise.png);
  content: '';
  height: 300%;
  left: -50%;
  opacity: 0.6;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

// scroll bar
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction='horizontal'] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction='horizontal'] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  z-index: 99999;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}
[data-scroll-direction='horizontal'] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}
[data-scroll-direction='horizontal'] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $main;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
[data-scroll-direction='horizontal'] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.mobile-header {
  // background-color: $tertiary;
  // z-index: 11 !important;
  // position:inherit;
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    p {
      font-size: 0.75rem;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
      font-weight: 500;
    }
    h5 {
      margin-top: 260px;
      font-size: 24px;
      font-weight: 600;
      padding-right: 360px;
    }
  }

  .header {
    height: 100px;
    .inner-header {
      position: relative;
      z-index: 10;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-decoration: none;
        // color: $main;
        text-transform: uppercase;
      }
      .menu {
        font-weight: 700;
        font-size: 1rem;
        text-decoration: none;
        // color: $main;
        button {
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          font-size: 0.8rem;
          mix-blend-mode: difference;
        }
      }
    }
    .hamburger-menu {
      display: none;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      .menu-secondary-background-color {
        background: $main;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
      .menu-layer {
        position: relative;
        background: $tertiary;
        height: 100%;
        overflow: hidden;
        .wrapper {
          position: relative;
          .menu-links {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            top: 20vh;
            nav {
              display: block;
              ul {
                margin: 0;
                padding: 0;
                li {
                  list-style: none;
                  font-size: 6rem;
                  font-weight: 700;
                  cursor: pointer;
                  height: 135px;
                  overflow: hidden;
                  position: relative;
                  width: 700px;
                  a {
                    position: absolute;
                    // color: $white;
                    text-decoration: none;
                    &:hover {
                      // color: $main;
                    }
                  }
                }
              }
            }
            .info {
              width: 300px;
              h3 {
                // color: $main;
                font-weight: 500;
                font-size: 1.2rem;
                margin: 8px auto;
              }
              p {
                margin: 0 auto;
                font-size: 0.8rem;
              }
            }
          }
          .locations {
            position: absolute;
            bottom: -80px;
            // color: $white;
            margin-top: 16px;
            font-size: 0.8rem;
            font-weight: 600;
            span {
              cursor: pointer;
              &:first-child {
                margin-left: 64px;
              }
              font-weight: 400;
              margin: 0 32px;
              transition: 0.3s ease-in-out;
              &:hover {
                // color: $main;
                background: $white;
                padding: 8px 24px;
                border-radius: 4px;
              }
            }
          }
        }
      }
    }
  }

  @keyframes backgroundEffect {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 40% 10%;
    }
    50% {
      background-position: 0 10%;
    }
    75% {
      background-position: 10% 40%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

.menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 100px;
  nav {
    display: block;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        font-size: 6rem;
        font-weight: 700;
        cursor: pointer;
        height: 135px;
        overflow: hidden;
        position: relative;
        width: 2000px;
        a {
          position: absolute;
          // color: $white;
          text-decoration: none;
          &:hover {
            // color: $main;
          }
        }
      }
    }
  }
}

#hero-sphere {
  position: absolute;
  top: -120px;
  right: 60px;
}

// Text styles
.h1-animated {
  font-size: 72px;
}
.h2-animated {
  font-size: 62px;
}
.h3-animated {
  font-size: 40px;
}
.h4-animated {
  font-size: 42px;
}
.h5-animated {
  font-size: 32px;
}
.h6-animated {
  font-size: 22px;
}

@media (max-width: 768px) {
  .h1-animated {
    font-size: 40px;
  }
  .h2-animated {
    font-size: 24px;
  }
  .h3-animated {
    font-size: 40px;
  }
  .h4-animated {
    font-size: 40px;
  }
  .h5-animated {
    font-size: 40px;
  }
  .h6-animated {
    font-size: 40px;
  }
}

// Text styles

@media (max-width: 768px) {
  .wrapper {
    padding: 0 24px;
    .home {
      h5 {
        font-size: 26px;
        padding-right: 0;
      }
    }
    .menu-links {
      nav {
        ul {
          li {
            overflow: hidden !important;
            font-size: 3rem !important;
            max-width: 300px !important;
            min-width: 100px !important;
            height: 80px !important;
            position: inherit !important;
          }
        }
      }
    }
    .info {
      display: none;
    }
    .locations {
      display: none;
    }
  }

  #hero-sphere {
    // scale: 0.7;
    display: none !important;
  }
  .cursor {
    display: none;
  }
  .toggle-button {
    margin: 20px !important;
  }
}

.c-direction-block {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
}

.c-direction-block_item {
  // color: black;
  position: absolute;
  font-size: 10vw;
  white-space: nowrap;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;

  span {
    display: block;
    background-color: $white;
    white-space: nowrap;
    padding: 0 20px;
  }

  &.-one {
    top: 33%;
    transform: translateX(-50vw) rotate(26deg);
  }
  &.-two {
    top: 45%;
    // transform: translateX(-50vw);
  }
  &.-three {
    top: 55%;
    transform: rotate(9deg);
  }
  &.-four {
    top: 68%;
    transform: translateX(-50vw) rotate(-19deg);
  }
  &.-five {
    top: 63%;
    transform: translateX(-10vw) rotate(3deg);
  }
}

.c-lerp-block {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: rem(160px);
}

.c-lerp-block_index {
  vertical-align: middle;
  // color: ivory;
  width: auto;
  min-width: rem(65px);
  padding: 4px;
  height: rem(45px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: rem(20px);
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-color: $black;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.6s ease-in-out;
  }

  &.is-inview {
    &::before {
      transform: scale(1);
      transition-delay: 0.3s;
    }
  }
}

.c-lerp-block_title {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-left: rem(20px);
  line-height: 1.1;

  &.is-inview {
    > span:not([data-scroll]) {
      opacity: 1;
      transform: none;
      transition-delay: 0.4s;
    }
  }

  > span:not([data-scroll]) {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }

  span {
    display: inline-block;
    min-width: 0.3em;
  }
}
.c-header_line {
  height: 1px;
  font-size: 2px;
  transform: scaleX(0);
  transition: transform 0.6s ease-in-out;
  &.center {
    transform-origin: center;
    &.is-inview {
      transform: scaleX(1);
      transform-origin: center;
    }
  }
  &.left {
    transform-origin: left;
    &.is-inview {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
  &.right {
    transform-origin: right;
    &.is-inview {
      transform: scaleX(1);
      transform-origin: right;
    }
  }
}

.o-image_wrapper {
  position: relative;
  overflow: hidden;
  background-color: transparent;

  &.-full {
    height: 100%;
    margin: 0 rem(100px);
    display: flex;
    align-content: center;
  }
}

.o-image {
  opacity: 0.75;
  mix-blend-mode: multiply;

  img {
    opacity: 0;
    transform: scale(1.4);
    transition: opacity 1.2s ease-in, transform 1.2s ease-in-out;
    object-fit: cover;
  }

  &.is-inview {
    img {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.6s;
    }
  }

  .o-image_wrapper.-full & {
    align-self: center;
  }
}

.loader {
  opacity: 1;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 11;
  background-color: #123e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in, transform 0.4s ease-in;
  &.loaded {
    opacity: 0;
    transition: 0.4s ease-in, transform 0.4s ease-in;
  }
}

.toggle-button {
  all: unset;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff77e;
}

.moon {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: inset -8px -8px #fff77e, inset 0px 0px 0px 0px #fff77e;
  -moz-box-shadow: inset -8px -8px #fff77e, inset 0px 0px 0px 0px #fff77e;
}
