$main: #57FF80;
$secondary: #123e4e;
$tertiary: #02232F;
$black: #202527;
$grey: #a9a1a1;
$white: #ffffff;

$dark-gray: #1C1C1E;
$deep-blue: #0A2E5F;
$jet-black: #000000;
$steel-gray: #7E8994;
$midnight-blue: #003366;

$light-gray: #D8D8D8;
$snow-white: #FFFFFF;
$pastel-pink: #FFB6C1;
$pale-yellow: #FFFFE0;
$sky-blue: #87CEEB;