@import '../../../styles/vars.scss';

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  .box {
    height: 100px;
    display: flex;
    color: $main;
    .nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .ul {
        all: unset;
        list-style: none;
        display: flex;
        width: 40%;
        justify-content: space-between;
      }
    }
   
  }
}

@media (max-width: 768px) {
  .footer {
    .box {
      height: 200px;
      .nav {
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        gap:200px;
        .ul {
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
        }
      }
      
    }
  }
}