@import 'styles/unit.scss';
.header {
  height: rem(60);
  display: flex;
  align-items: center;
  border-bottom: rgba(124, 124, 124, 0.5) 1px solid;
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      color: var(--t-main);
      span {
        font-size: rem(24);
        font-weight: 400;
      }
    }
    .langs {
      ul {
        list-style: none;
        display: flex;
        column-gap: rem(40);
        a {
          font-size: rem(16);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }    
    nav {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        column-gap: 20px;
        align-items: center;
      }
      .navlinks {
        padding: 8px
      }
    }
  }
}
 @media (max-width: 600px) {
  .header {
    .box {
      nav {
        display: none;
      }
    }
  }
 }